* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    padding-left: 8%;
    padding-right: 8%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5%;
    padding-bottom: 1%;
}

.nav-container img {
    width: 6%;
}

.nav-container button {
    width: 165px;
    height: 54px;
    background-color: ;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.container {
    height: 100vh;
    background-color: aquamarine;
    border: 1px solid green;
    display: grid;

    grid-template-rows: 80px 1fr 1fr 100px;
    grid-template-columns: 1fr;
    grid-gap: 15px;

    grid-template-areas: 
    "hd"
    "main1"
    "main2"
    "ft";
}

.box {
    border: 1px solid red;
    background-color: antiquewhite;

}

#header {
    grid-area: hd;
}

#main-content1 {
    grid-row: main1
}

#main-content2 {
    grid-row: main2
}

#footer {
    grid-area: ft;
}

