* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: 'raleway', sans-serif;
}

.wrapper {
    padding-left: 8%;
    padding-right: 8%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin-bottom: 2%;
}

.nav-container img {
    padding-top: 1.5%;
    width: 6%;
}

.nav-container button {
    width: 165px;
    height: 54px;
    margin-top: 1.5%;
    background: #4E5DC0;
    border-radius: 5px;
    color: #fff;
    border: none;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    /* list-style-type: none; */
}

.nav-links p {
    margin-right: 26%;
}

.container-1 {
    height: 500px;
    border: 1px solid green;
    display: grid;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 15px;

    grid-template-areas: 
    "main"
    "main2";
}

.box {
    border: 1px solid red;
    /* background-color: antiquewhite; */

}
#main {
    grid-area: main;

    display: flex;
}
#main img {
    width: ;
}

#main-2 {
    grid-area: main2;

    display: flex;
}

