* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: 'Roboto Flex', sans-serif;
}

.wrapper {
    padding-left: 8%;
    padding-right: 8%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    position: sticky;
    /* border: 1px solid red; */
    margin-bottom: 4%;
}

.nav-container img {
    padding-top: 1.5%;
    width: 6%;
}

.nav-container button {
    width: 165px;
    height: 54px;
    margin-top: 1.5%;
    background: #4E5DC0;
    border-radius: 5px;
    color: #fff;
    border: none;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    /* list-style-type: none; */
}

.nav-links p {
    margin-right: 26%;
}

.container-1 {
    height: 750px;
    border: 1px solid green;
    display: grid;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 25px;

    grid-template-areas: 
    "main"
    "main2";
}

.box {
    border: 2px solid red;
    /* background-color: antiquewhite; */

}
#main {
    grid-area: main;
    padding: 3% 3% 3% 0%;

    display: flex;
    justify-content: space-between;
}
#main img {
    width: 480px;
    height: 350px;
}
.left-text {
    /* padding: 0% 5% 5% 0%; */
    width: 500px;
    height: 350px;
    border: 2px solid blue;
}

#main-2 {
    grid-area: main2;
    padding: 3% 3% 3% 0%;

    display: flex;
    justify-content: space-evenly;
}
#main-2 img {
    width: 527px;
    height: 350px;
}

